:root {
  font-size: 10px;
  --tertiory-color: #3f37c9;
  --primary-color: #4361ee;
  --secondary-color: rgba(0, 0, 0, 0.16);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4rem;
}
.contianer {
  flex-basis: 70rem;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: var(--secondary-color) 0px 1px 4px;
  border-radius: 5px;
}
h1 {
  align-self: center;
  font-size: 4rem;
  text-wrap: nowrap;
  margin-bottom: 2rem;
}
form {
  width: 100%;
}
ul {
  list-style-type: none;
  width: 100%;
}
li {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 1rem;
  margin-block: 1rem;
  border-radius: 3px;
}
input {
  width: 100%;
  padding: 1rem 2rem;
  border: 2px solid var(--secondary-color);
  border-radius: 3px;
  outline: none;
  margin-bottom: 1rem;
}
input:focus-visible {
  border: 2px solid var(--primary-color);
}
.listBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  padding: 0.7rem 1.4rem;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}
button:disabled {
  background-color: var(--secondary-color);
}
button:disabled:hover {
  background-color: var(--secondary-color);
}
.crudBtn {
  background-color: var(--primary-color);
}
.crudBtn:hover {
  background-color: var(--tertiory-color);
}
#submitBtn {
  color: var(--primary-color);
  background-color: white;
  margin-block: 1rem;
  border: 2px solid var(--primary-color);
}
#submitBtn:hover,
#updateBtn:hover {
  background-color: var(--primary-color);
  color: white;
}
#submitBtn:disabled {
  border: white;
  background-color: var(--secondary-color);
  color: white;
}
#submitBtn:disabled:hover {
  background-color: var(--secondary-color);
  color: white;
}

div.taskContent {
  overflow: hidden;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.btnContainer {
  display: flex;
  gap: 1rem;
}
.update {
  display: none;
}
